body {
    /*background-color: lightgray;*/
}

.table, form {
    width: 90% !important;
    margin: 60px;
}
.create {
    text-align: center;
    margin-left: 20px;
}
.edit {
    margin-left: 58px;
}
.card-body {
    text-align: center;
}
button, .btn {
    width: 110px;
}
form button {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.t-edit, .t-show {
    margin-left: 5px;
}