{# templates/list/index.html.twig #} {% extends 'base.html.twig' %} {% block
    body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <a href="{{ path('company_index') }}" class="btn btn-primary">Company</a>
                        <a href="{{ path('employees_index') }}" class="btn btn-primary">Employees</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}